.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: $darkcolor;
    color: white;
}

.logo-img {
    height: 65px;
    padding: 0 10px;
}

.navbar-links {
    height: 100%;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        transition: 0.5s;

        &:hover {
            background-color: #6666a0;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1rem;
        font-family: $subtitle;
    }
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}