@media screen and (min-width: 680px) and (max-width: 1100px) {
    
    /*index*/
    .grid-container1 {
        display: grid;
        width: 90%;
        grid-template: 1fr 1fr / 1fr;
        gap: 30px;
        margin: 2% auto;
    }

    .grid-container2 {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template: repeat(3, 1fr) / 1fr;
    }

    .gr1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .gr2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .gr3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    /* consultas */

    .df-contacto {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        margin: 5px;
    }

    .contenido {
        width: 75%;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        margin: 10px;
    }

    /* locales */

    .grid-locales {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        margin: 0 20%;
    }

    /* nosotros */

    .grid-nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .title-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 2 / 2;
        margin: 10px auto;
    
        h2 {
            margin: 10px;
            text-align: center;
        }
    
        p {
            margin: 10px 30px;
            text-align: center;
        }
    }
    
    .galeria-nosotros {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px 5%;
        border: solid black;
    }

    /*productos*/
    
    .df-mainproductos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 100px) and (max-width: 679px) {

    /*header*/

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin-top: 10px;
    }

    .navbar-links {
        display: none;
        width: 100%;

        ul {
            width: 100%;
            flex-direction: column;

            li {
                text-align: center;

                a {
                    padding: .5rem 1rem;
                }
            }
        }
        

    }


    .navbar-links.active {
        display: flex;
    }
    
    /*index*/

    .grid-container1 {
        display: grid;
        width: 90%;
        grid-template: auto auto / 1fr;
        gap: 30px;
        margin: 2% auto;
    }

    .grid-container2 {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template: repeat(3, 1fr) / 1fr;
    }

    .gr1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .gr2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .gr3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    /* consultas */

    .df-contacto {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        margin: 5px;
    }

    .contenido {
        width: 95%;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        margin: 10px;

    }

    /* locales */

    .grid-locales {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        margin: 0 20%;
    }

    @mixin locales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lightcolor;
        border: solid $darkcolor 5px;
        border-radius: 15px;
        margin: 10px;

        img {
            width: 300px;
            height: 300.81px;
            border-radius: 10px;
        }

        h3,
        p {
            margin: 10px;
            text-align: center;
        }
    }

    .location1 {
        @include locales
    }

    .location2 {
        @include locales
    }

    /* nosotros */

    .grid-nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .title-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 2 / 2;
        margin: 10px auto;
    
        h2 {
            margin: 10px;
            text-align: center;
        }
    
        p {
            margin: 10px 30px;
            text-align: center;
        }
    }
    
    .galeria-nosotros {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px 5%;
        border: solid black;
    }

    /*productos*/

    .df-mainproductos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}